
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/blog-home.css" rel="stylesheet">

</head>
<body>
    @Html.Partial("_navbar")


    <div> 
        @RenderBody()


    </div>
    @Html.Partial("_footer")



    @* js *@

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/popper/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>

</body>
</html>
