@*@{
    Layout = null;
}*@

@model MVCBlog.Models.IndexViewModel

<!DOCTYPE html>

<div class="col-md-4">

    <!-- Search Widget -->
  
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
@foreach (var item in Model.Items2)
{ <li>
                            <a href="/Home/BlogFilteredPage/@item.Id">@item.CategoryName</a>
                        </li>}
                  
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                     
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
