
@{
    ViewBag.Title = "Poster";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@model MVCBlog.Models.BlogPost

<h2>Poster</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.PostTitle, new { @class = "form-control" })
    @Html.TextAreaFor(x => x.PostContent, new { @id = "summernote" })

    <input type="submit" name="name" value="Send" />
}


<script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
</script>